data/
data_stft/
log/
log_stft/
music/
music_stft/
oldcode/
testcode/*.csv
testcode/*.wav
testcode/*.mp3
testcode/*.png
ca
config
error.txt
resume.txt
ftp.py
main.py
movie.py
pause.txt
plt.py
waitfortest
__pycache__
testcode/aweight.py
testcode/subprocesstest.py
exportToHTML
.venv
ffmpeg
data_stft_time